@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital@1&display=swap");
* {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.recent_episodes {
  width: 100%;
  height: auto;
  overflow: visible;
}

.recent_episodes .recent_bar {
  min-height: 10vh;
  width: 20vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid white;
  color: white;
  margin-top: 65px;
  margin-bottom: 35px;
}

.recent_episodes .recent_bar h3 {
  font-family: 'Space Mono';
  font-size: 25px;
  font-style: italic;
}

.recent_episodes .recent_content {
  width: 85%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30%, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  padding-top: 45px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.recent_episodes .recent_content .recent {
  min-height: 70vh;
  width: 90%;
  padding-left: 25px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  color: white;
  border-left: 1px solid #b3b3b3;
}

.recent_episodes .recent_content .recent:first-child {
  border: none;
}

.recent_episodes .recent_content .recent h4 {
  font-family: 'Space Mono';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recent_episodes .recent_content .recent h4 span {
  font-size: 90px;
  margin-left: 5px;
  font-family: "Roboto";
  font-weight: bold;
  color: teal;
}

.recent_episodes .recent_content .recent h4 span .odd_txt {
  font-family: 'Londrina Outline';
}

.recent_episodes .recent_content .recent h1 {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 45px;
  padding-bottom: 10px;
}

.recent_episodes .recent_content .recent .date {
  font-family: 'Space Mono';
  font-style: italic;
}

.recent_episodes .recent_content .recent p {
  font-family: 'Space Mono';
  padding-top: 20px;
  line-height: 30px;
  font-size: 18px;
}

.recent_episodes .recent_content .recent .more_btn, .recent_episodes .recent_content .recent .more_icn {
  color: teal;
  font-size: 18px;
  font-family: 'Roboto';
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-top: 30px;
}

.recent_episodes .recent_content .recent .more_btn:hover {
  color: white;
}

.recent_episodes .recent_content .recent .more_btn:hover .more_icn {
  color: white;
  margin-left: 5px;
}

.recent_episodes .view_all {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recent_episodes .view_all button {
  background-color: teal;
  border: none;
  padding: 22px 75px;
  cursor: pointer;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 20px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.recent_episodes .view_all button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media only screen and (max-width: 1336px) {
  .recent_episodes .recent_bar {
    min-height: 8vh;
    width: 18vw;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid white;
    color: white;
    margin-top: 65px;
    margin-bottom: 35px;
  }
  .recent_episodes .recent_bar h3 {
    font-family: 'Space Mono';
    font-size: 20px;
    font-style: italic;
  }
  .recent_episodes .recent_content {
    display: block;
  }
  .recent_episodes .recent_content .recent {
    min-height: auto;
    border: none;
    margin-bottom: 155px;
  }
}

@media only screen and (max-width: 684px) {
  .recent_episodes .recent_bar {
    min-height: 5vh;
    width: 29vw;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid white;
    color: white;
  }
  .recent_episodes .recent_bar h3 {
    font-family: 'Space Mono';
    font-size: 15px;
    font-style: italic;
  }
}

@media only screen and (max-width: 436px) {
  .recent_episodes .recent_bar {
    min-height: 8vh;
    width: 52%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid white;
    color: white;
  }
  .recent_episodes .recent_bar h3 {
    font-family: 'Space Mono';
    font-size: 15px;
    font-style: italic;
  }
}
/*# sourceMappingURL=RecentEpisode.css.map */