
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@1&display=swap');
$maincolor: teal;

* {
    // background-color: black;
    color: white;
}

.Container {
    background-color: black;
    background-image: url("../../Assets/Podcast/bg_main.png");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 5vh;
    min-height: 100vh;

    .top {
        h1 {
            font-size: 110px;
            font-family: 'Roboto';
            font-weight: bold;

            span {
                font-family: 'Londrina Outline';
                font-weight: bold;
                color: $maincolor;
            }
        }
    }

    .podcast_info {
        width: 80%;
        margin: 0 auto;
        // background-color: red;
        display: flex;
        justify-content: space-between;

        .left {
            width: 50%;
            .pod_date {
                font-family: 'Space Mono';
                font-weight: bold;
            }

            h1 {
                font-size: 68px;
                font-family: 'Roboto';
                font-weight: bold;
                text-align: left;
                padding-top: 15px;
            }
        }

        .right {
            width: 40%;
            h1 {
                font-size: 170px;
                font-family: 'Roboto';
                font-weight: bold;
                margin-top: 20px;
                span {
                    font-family: 'Londrina Outline';
                    font-weight: bold;
                    color: $maincolor;
                    // color: $maincolor;
                }
            }

            p {
                padding: 0;
                margin: 0;
                line-height: 36px;
                font-family: 'Roboto';
                font-weight: 400;
            }
        }
    }

    .podcast_player {
        width: 60%;
        min-height: 216px;
        background-color: #202020;
        margin: 0 auto;
        margin-top: 35px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 10px;
        overflow: hidden;

        .left {
            width: 20%;
            height: 100%;
            background-image: url('../../Assets/Podcast/my_podcast_cover_less.JPG');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }

        .right {
            width: 70%;
            height: 100%;
            // background-color: green;
            padding-left: 20px;
            padding-top: 10px;

            .podcast_br {
                span {
                    font-family: 'Space Mono';
                    font-weight: 300;
                    font-size: 18px;
                }
                margin-bottom: 5px;
            }

            .podcast_title_download{ 
                display: flex;
                justify-content: space-between;
                align-items: center;
                // background-color: red;

                h3 {
                    font-family: 'Roboto';
                    font-size: 23px;
                    font-weight: bold;
                }

                .icns {
                    width: 10%;
                    height: 1005;
                    // background-color: grey;
                    display: flex;
                    justify-content: space-between;
                    margin-right: 10px;
                }
            }

            .podcast_audio_container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                // background-color: red;
                margin-top: 40px;
                height: auto;
                .left {
                    background: none;
                    width: 53px;
                    height: 50px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    background: rgb(184, 184, 184);
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        background-color: rgb(66, 66, 66);
                    }
                }

                .right {
                    width: 80%;
                    // background: teal;
                    padding: 0;

                    .audio_time {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 7px;
                        span {
                            font-family: 'Space Mono';
                            font-size: 13px;
                        }
                    }

                    .audio_slider {
                        width: 100%;
                        input[type="range"] {
                            width: 100%;
                            min-height: 50px;
                            -webkit-appearance: none;
                            &::-webkit-slider-runnable-track {
                                height: 100%;
                                background-image: url('../../Assets/Podcast/slider_img.png');
                                background-size: cover;
                                background-position: center;
                                background-repeat: no-repeat;
                            }

                            &::-moz-range-progress {
                                background-color: black;
                            }
                        }

                        input[type="range"]::-webkit-slider-thumb {
                            -webkit-appearance: none;
                            height: 100%;
                            width: 5px;
                            background-color: $maincolor;
                            border-radius: 9px;
                          }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1000px) {

.Container {

    .top {
        h1 {
            font-size: 70px;
        }
    }

    .podcast_info {
        // width: 95%;
        display: block;

        .left {
            width: 100% !important;
        }

        .right {
            width: 100%;
        }
    }

    .podcast_player {
        width: 85%;
        // padding-bottom: 10px !important;

        .left {
            display: none;
        }

        .right {
            width: 100%;
            .podcast_audio_container {
                .left {
                    
                }
            }
        }
    }
}

}

@media only screen and (max-width: 596px) {

    .Container {

        .top {
            h1 {
                font-size: 60px;
            }
        }
    
        .podcast_info {
            // width: 95%;
            display: block;
            margin-top: 35px;
    
            .left {
                width: 100% !important;

                h1 {
                    font-size: 58px;
                }
            }
    
            .right {
                width: 100%;

                h1 {
                    font-size: 100px;
                }

                p {
                    font-weight: 600;
                    line-height: 28px;
                    font-size: 20px;
                }
            }
        }
    
        .podcast_player {
            width: 85%;
            min-height: 195px !important;
            // padding-bottom: 10px !important;
    
            .left {
                display: none;
            }
    
            .right {
                width: 100%;
                .podcast_title_download {
                    flex-direction: column;
                    align-items: flex-start;

                    .icns {
                        margin-top: 25px;
                        width: 10%;
                    }
                }
                .podcast_audio_container {
                    flex-direction: column;
                    .left {
                        
                    }

                    .right {
                        width: 100%;
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 414px) {

    .Container {

        // .top {
        //     h1 {
        //         font-size: 60px;
        //     }
        // }
    
        // .podcast_info {
        //     // width: 95%;
        //     display: block;
        //     margin-top: 35px;
    
        //     .left {
        //         width: 100% !important;

        //         h1 {
        //             font-size: 58px;
        //         }
        //     }
    
        //     .right {
        //         width: 100%;

        //         h1 {
        //             font-size: 100px;
        //         }

        //         p {
        //             font-weight: 600;
        //             line-height: 28px;
        //             font-size: 20px;
        //         }
        //     }
        // }
    
        .podcast_player {
            width: 85%;
            min-height: 195px !important;
            padding-bottom: 15px !important;
    
            .left {
                display: none;
            }
    
            .right {
                width: 100%;
                .podcast_title_download {
                    flex-direction: column;
                    align-items: flex-start;

                    .icns {
                        margin-top: 25px;
                        width: 20%;
                        margin-top: 15px;
                        margin-bottom: 0px;
                    }
                }
                .podcast_audio_container {
                    flex-direction: column;

                    margin-top: 20px;
                    .left {
                        margin-top: 0px;
                    }

                    .right {
                        width: 100%;
                    }
                }
            }
        }
    }

}