@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
$accent-color: #01A1A7;
$dark-color: #202020;
$text-darkbg: #007175;
$light-cardbg: #a8a8a8;
$dark-cardbg: #4b4b4b;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
}


.main-home {
    width: 100%;
    height: 100vh;
    // background-color: $dark-color;
    overflow-y: hidden;

    #particles-js {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-color: $dark-color;
    }

    .show {
        // background-color: red;
        z-index: 5;
        width: 100%;
        height: 80%;
        padding-top: 18vh;

        .show_inner {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }


        .left {
            // z-index: 1;
            width: 50%;
            height: 100%;
            margin-top: 30px;
            margin-left: 45px;
            display: flex;
            flex-direction: column;
            // align-items: center;
            justify-content: center;
            // background-color: red;

            .social-links {
                width: 60%;
                height: 10%;
                // border: 1px solid white;
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                a {
                    border: 2px solid $accent-color;
                    border-radius: 50%;
                    padding: 10px;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        box-shadow: 0px 1px 13px $accent-color;
                    }
                }

                .fb, .tw, .ig, .li {
                    font-size: 23px;

                    
                }

                .fb {
                    width: 23px;
                }
            }

            .my-det { 
                width: 100%;
                height: auto;
                color: white;
                padding-left: 35px;

                h3 {
                    margin-top: 20px;
                    font-size: 50px;
                    font-family: 'Roboto Mono', monospace;
                    font-weight: 600;
                }

                p {
                    margin-top: 20px;
                    font-size: 22px;
                    font-weight: 100;
                    word-wrap: break-word;
                    word-spacing: 3px;
                }
            }
            .show-btns {
                margin-top: 25px;
                width: 100%;
                height: 20%;
                padding-left: 35px;

                button {
                    // border-radius: 15px;
                    padding: 13px;
                    background-color: transparent;
                    color: white;
                    border: 2px solid $accent-color;
                    transition: all 0.4s ease-in-out;
                    cursor: pointer;

                    span {
                        padding-left: 5px;
                        transition: all 0.4s ease-in-out;
                        .arrwrgt{ 
                            transition: all 0.4s ease-in-out;
                        }
                    }

                    &:hover {
                        background-color: $accent-color;
                        color: white;

                        span {

                            .arrwrgt{ 
                                transform: rotate(90deg);
                            }
                        }
                    }

                    &:focus {
                        outline: none;
                    }
                }
            }
        }

        .right {
            z-index: -1;
            width: 50%;
            height: 100%;
            background-color: blue;
            margin-top: 30px;
            margin-bottom: 85px;
            background: url('../../Assets/mypic1.png');
            background-position: top;
            background-repeat: no-repeat;
            background-size: 80%;
        }

        .dwn-btn {
            width: 100%;
            margin-top: 35px;
            // background-color: red;
            display: flex;
            justify-content: center;
            span {

                .dwnicn{
                    text-align: center;
                    font-size: 25px;
                    cursor: pointer;

                    animation: dwnbtn 1.5s infinite;
                    transition: all 0.5s ease-in-out;
                }
            }
        }

        @keyframes dwnbtn {
            from {
                transform: translateY(-10px);
            }

            to {
                transform: translateY(0px);
                // color: #01a1a7a9;
            }
        }
    }
}

.about {
    padding-bottom: 50px;
    .inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        .head_intro {
            margin-top: 25px;
            display: flex;
            align-items: center;
            flex-direction: column;
            h1 {
                font-size: 45px;
                text-align: center;
                color: rgb(63, 63, 63);
                font-family: 'Roboto';
                font-weight: 300;

            }
            hr {
                width: 89px;
                border-top: 3px solid rgb(63, 63, 63);
                margin: 15px 0;
            }
        }

        .boxes {
            margin-top: 40px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 75%;


            .bx1, .bx2, .bx3, .bx4 {
                height: 300px;
                // background-color: blue;
                width: 22%;
                display: flex;
                align-items: center;
                flex-direction: column;

                .shape {
                        margin: 35px 0px;
                        width: 100px;
                        height: 57.735px;
                        background: $accent-color;
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        span {
                            font-size: 45px;
                        }
                }

                .shape::before {
                    content: "";
                    position: absolute;
                    top: -28.8675px;
                    left: 0;
                    width: 0;
                    height: 0;
                    border-left: 50px solid transparent;
                    border-right: 50px solid transparent;
                    border-bottom: 28.8675px solid $accent-color;
                  }

                .shape::after {
                    content: "";
                    position: absolute;
                    bottom: -28.8675px;
                    left: 0;
                    width: 0;
                    height: 0;
                    border-left: 50px solid transparent;
                    border-right: 50px solid transparent;
                    border-top: 28.8675px solid $accent-color;
                  }

                  h1 {
                      text-align: center;
                      font-weight: bold;
                      color: rgb(63, 63, 63);
                      font-family: "Lato";
                  }

                  p {
                      padding-top: 10px;
                      text-align: center;
                      font-size: 18px;
                      font-family: "Lato";
                  }
            }
        }

        .me_skills {
            width: 75%;
            height: 60vh;

            .inner {
                width: 100%;
                height: 100%;
                // background-color: red;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                .me {
                    width: 45%;
                    height: 100%;
                    // background-color: blue;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .img {
                        width: 100%;
                        height: 80%;
                        background: url('../../Assets/cartoonpic.png');
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }

                    h1 {
                        text-align: center;
                        font-weight: bold;
                        color: rgb(58, 58, 58);
                    }

                    p {
                        padding-top: 15px;
                        text-align: center;
                    }
                }

                .skills {
                    width: 45%;
                    height: 100%;
                    // background-color: violet;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .skill_bar {
                        width: 100%;
                        height: 30px;
                        background-color: #EEEEEE;
                        display: flex;
                        margin-bottom: 18px;

                        .skill_fill {
                            width: 90%;
                            display: flex;
                            position: relative;
                            .inner_fill {
                                position: absolute;
                                height: 100%;
                                background-color: $accent-color;
                            }

                            .skill_name {
                                width: 18%;
                                background-color: #00cdd4;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: white;
                                z-index: 20;
                                cursor: pointer;
                            }
                        }

                        .skill_percent {
                            width: 10%;
                            // background-color: green;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }
}

.experience {
    width: 100%;
    height: auto;
    background-color: $dark-color;
    color: $text-darkbg;

    .inner {
        padding: 100px 100px;
        width: 100%;
        height: 100%;
        // background-color: red;
        display: flex;
        justify-content: space-between;

        .left {
            width: 20%;
            height: 100%;
            // background-color: blue;
        }

        .middle {
            height: initial;
            width: 10%;
            border-right: 2px solid $text-darkbg;
        }

        .right {
            width: 60%;
            height: 100%;
            // background-color: yellow;

            .experience_container {
                padding: 30px;
                width: 80%;
                height: auto;
                background-color: rgb(45, 45, 46);
                border-radius: 7px;
                box-shadow: 10px 10px 20px 3px #161616;
                color: rgb(199, 199, 199);
                margin-bottom: 50px;

                h1 {
                    font-size: 26px;
                    margin-bottom: 10px;
                }

                h3 {
                    font-size: 18px;
                    margin-bottom: 10px;
                    color: $text-darkbg;
                    cursor: pointer;
                }

                span {
                    
                }

                .jb_function {
                    margin-top: 25px;
                    ul {
                        li {
                            margin-left: 45px;
                            margin-bottom: 15px;
                        }
                    }
                }

            }
        }
    }
}

.projects {
    width: 100%;
    height: 100vh;


    .inner {
        display: flex;
        // justify-content: space-between;
        flex-direction: column;
        padding: 30px 20px;
        width: 100%;
        height: 100%;
        .left {
            width: 100%;
            height: 100%;
            // background-color: red;

            H1 {
                font-weight: bold;
                text-align: center;
            }
        }
    
        .right {
            width: 100%;
            height: 100%;
            // background-color: blue;
    
            .bar {
                margin: 0 auto;
                width: 40%;
                height: 10%;
                // background-color: brown;
                border-radius: 8px;
                // margin-left: 25px;
                margin-top: 25px;
                margin-bottom: 25px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                overflow: hidden;
    
                .br1, .br2, .br3, .br4, .br5 {
                    width: 30%;
                    height: 100%;
                    // background-color: yellow;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    transition: all 0.4s ease-in-out;

                    &:hover {
                        background-color: $dark-color;
                        color: $light-cardbg;
                    }
                }
    
                .active_br {
                    background-color: $dark-color;
                    color: $light-cardbg;
                }
    
                .br3 {
                    width: 40%;
                }
            }


            .prjs {
                margin: 0 auto;
                height: 100%;
                width: 85%;
                // background-color: red;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                grid-gap: 1rem;
                justify-content: center;
                align-items: center;

                .project_div {
                    width: 100%;
                    height: 40vh;
                    background-color: yellow;
                    position: relative;
                    // background: url('../../Assets/ProjectImage/church 2.PNG');
                    // background-size: cover;
                    // background-position: center;
                    // background-repeat: no-repeat;

                    .prj_card {
                        overflow: hidden;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        // background-color: blue;
                        transition: all 0.5s ease-in-out;

                        .prj_txt {
                            opacity: 1;
                            position: absolute;
                            // transform: translateY(0);
                            top: -50%;
                            transition: all 0.5s ease-in-out;

                            // !Main Style

                            text-align: center;
                            width: 100%;
                            font-size: 1.5vw;
                            font-family: 'Lato';
                            font-weight: 400;

                            .lng_used {
                                font-size: 1vw ;
                            }
                        }

                        .prj_but {
                            opacity: 1;
                            position: absolute;
                            // transform: translateY(0);
                            bottom: -50%;
                            transition: all 0.5s ease-in-out;

                            // !Main Style

                            display: flex;
                            justify-content: center;
                            width: 100%;

                            button {
                                padding: 20px 60px;
                                transition: all 0.3s ease-in-out;
                                font-weight: 400;
                                font-family: 'Roboto';
                                background-color: transparent;
                                color: $text-darkbg;
                                border: 1px solid $accent-color;

                                &:hover {
                                    background-color: $text-darkbg;
                                    color: white;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }

                .prj1 {
                    background: url('../../Assets/ProjectImage/church 2.PNG');
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;

                    &:hover {
                        .prj_card {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            background-color: white;
                            // transition: all 0.5s ease-in-out;


                        }

                        .prj_txt {
                            opacity: 1;
                            position: absolute;
                            // transform: translateY(0);
                            top: 20%;
                            transition: all 0.5s ease-in-out;
                        }

                        .prj_but {
                            opacity: 1;
                            position: absolute;
                            // transform: translateY(0);
                            bottom: 20%;
                            transition: all 0.5s ease-in-out;
                        }
                    }
                }
            }
        }
    }

}




// @media (min-width: 600px) {
//     .prjs { grid-template-columns: repeat(2, 1fr); }
//   }
  
  /* Screen larger than 900px? 3 columns */
//   @media (min-width: 900px) {
//     .prjs { grid-template-columns: repeat(3, 1fr); }
//   }