@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

.page_up {
  position: fixed;
  bottom: 20px;
  right: 10px;
  padding: 15px;
  background-color: #01a1a79c;
  border-radius: 9px;
  z-index: 10;
}

.page_up:hover {
  background-color: #01A1A7;
}

.main-home {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}

.main-home #particles-js {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #202020;
}

.main-home .show {
  z-index: 5;
  width: 100%;
  height: 80%;
  padding-top: 17vh;
  overflow: hidden;
}

.main-home .show .show_inner {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.main-home .show .left {
  width: 50%;
  height: 100%;
  margin-top: 30px;
  margin-left: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-home .show .left .social-links {
  width: 60%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-home .show .left .social-links a {
  border: 2px solid #01A1A7;
  border-radius: 50%;
  padding: 10px;
}

.main-home .show .left .social-links a:hover {
  -webkit-box-shadow: 0px 1px 13px #01A1A7;
          box-shadow: 0px 1px 13px #01A1A7;
}

.main-home .show .left .social-links .fb, .main-home .show .left .social-links .tw, .main-home .show .left .social-links .ig, .main-home .show .left .social-links .li {
  font-size: 23px;
}

.main-home .show .left .social-links .fb {
  width: 23px;
}

.main-home .show .left .my-det {
  width: 100%;
  height: auto;
  color: white;
  padding-left: 35px;
}

.main-home .show .left .my-det h3 {
  margin-top: 20px;
  font-size: 50px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
}

.main-home .show .left .my-det p {
  font-family: 'Roboto';
  margin-top: 20px;
  font-size: 22px;
  font-weight: 200;
  word-wrap: break-word;
  word-spacing: 3px;
}

.main-home .show .left .show-btns {
  margin-top: 25px;
  width: 100%;
  height: 20%;
  padding-left: 35px;
}

.main-home .show .left .show-btns button {
  padding: 13px;
  background-color: transparent;
  color: white;
  border: 2px solid #01A1A7;
  cursor: pointer;
}

.main-home .show .left .show-btns button span {
  padding-left: 5px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.main-home .show .left .show-btns button span .arrwrgt {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.main-home .show .left .show-btns button:hover {
  background-color: #01A1A7;
  color: white;
}

.main-home .show .left .show-btns button:hover span .arrwrgt {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.main-home .show .left .show-btns button:focus {
  outline: none;
}

.main-home .show .right {
  z-index: -1;
  width: 50%;
  height: 100%;
  margin-top: 30px;
  margin-bottom: 85px;
  background: url("../../Assets/mypic1.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 80%;
  overflow: hidden;
}

.main-home .show .dwn-btn {
  width: 100%;
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-home .show .dwn-btn span .dwnicn {
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  -webkit-animation: dwnbtn 1.5s infinite;
          animation: dwnbtn 1.5s infinite;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@-webkit-keyframes dwnbtn {
  from {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes dwnbtn {
  from {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.about {
  padding-bottom: 50px;
}

.about .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .inner .head_intro {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about .inner .head_intro h1 {
  font-size: 45px;
  text-align: center;
  color: #3f3f3f;
  font-family: 'Roboto';
  font-weight: 300;
}

.about .inner .head_intro hr {
  width: 89px;
  border-top: 3px solid #3f3f3f;
  margin: 15px 0;
}

.about .inner .boxes {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
}

.about .inner .boxes .bx1, .about .inner .boxes .bx2, .about .inner .boxes .bx3, .about .inner .boxes .bx4 {
  height: 300px;
  width: 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about .inner .boxes .bx1 .shape, .about .inner .boxes .bx2 .shape, .about .inner .boxes .bx3 .shape, .about .inner .boxes .bx4 .shape {
  margin: 35px 0px;
  width: 100px;
  height: 57.735px;
  background: #01A1A7;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .inner .boxes .bx1 .shape span, .about .inner .boxes .bx2 .shape span, .about .inner .boxes .bx3 .shape span, .about .inner .boxes .bx4 .shape span {
  font-size: 45px;
}

.about .inner .boxes .bx1 .shape::before, .about .inner .boxes .bx2 .shape::before, .about .inner .boxes .bx3 .shape::before, .about .inner .boxes .bx4 .shape::before {
  content: "";
  position: absolute;
  top: -28.8675px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 28.8675px solid #01A1A7;
}

.about .inner .boxes .bx1 .shape::after, .about .inner .boxes .bx2 .shape::after, .about .inner .boxes .bx3 .shape::after, .about .inner .boxes .bx4 .shape::after {
  content: "";
  position: absolute;
  bottom: -28.8675px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 28.8675px solid #01A1A7;
}

.about .inner .boxes .bx1 h1, .about .inner .boxes .bx2 h1, .about .inner .boxes .bx3 h1, .about .inner .boxes .bx4 h1 {
  text-align: center;
  font-weight: bold;
  color: #3f3f3f;
  font-family: "Lato";
}

.about .inner .boxes .bx1 p, .about .inner .boxes .bx2 p, .about .inner .boxes .bx3 p, .about .inner .boxes .bx4 p {
  padding-top: 10px;
  text-align: center;
  font-size: 18px;
  font-family: "Lato";
}

.about .inner .me_skills {
  width: 75%;
  height: 60vh;
}

.about .inner .me_skills .inner {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .inner .me_skills .inner .me {
  width: 45%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .inner .me_skills .inner .me .img {
  width: 100%;
  height: 100%;
  background: url("../../Assets/cartoonpic.png");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}

.about .inner .me_skills .inner .me h1 {
  text-align: center;
  font-weight: bold;
  color: #3a3a3a;
}

.about .inner .me_skills .inner .me p {
  padding-top: 15px;
  text-align: center;
  color: #353434;
}

.about .inner .me_skills .inner .me .cnt_res_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.about .inner .me_skills .inner .me .resume {
  padding: 12px 35px;
  border: none;
  background-color: #01A1A7;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

.about .inner .me_skills .inner .me .resume .resm {
  margin-right: 5px;
}

.about .inner .me_skills .inner .me .resume:focus {
  outline: none;
}

.about .inner .me_skills .inner .skills {
  width: 45%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .inner .me_skills .inner .skills .skill_bar {
  width: 100%;
  height: 30px;
  background-color: #EEEEEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 18px;
  overflow: hidden;
}

.about .inner .me_skills .inner .skills .skill_bar .skill_fill {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.about .inner .me_skills .inner .skills .skill_bar .skill_fill .inner_fill {
  position: absolute;
  height: 100%;
  background-color: #01A1A7;
}

.about .inner .me_skills .inner .skills .skill_bar .skill_fill .skill_name {
  width: 18%;
  background-color: #00cdd4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  z-index: 20;
  cursor: pointer;
}

.about .inner .me_skills .inner .skills .skill_bar .skill_percent {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.experience {
  width: 100%;
  height: auto;
  background-color: #202020;
  color: #01A1A7;
}

.experience .inner {
  padding: 100px 100px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.experience .inner .left {
  width: 20%;
  height: 100%;
}

.experience .inner .middle {
  height: initial;
  width: 10%;
  border-right: 2px solid #007175;
}

.experience .inner .right {
  width: 60%;
  height: 100%;
}

.experience .inner .right .experience_container {
  padding: 30px;
  width: 100%;
  height: auto;
  background-color: #2d2d2e;
  border-radius: 7px;
  -webkit-box-shadow: 10px 10px 20px 3px #161616;
          box-shadow: 10px 10px 20px 3px #161616;
  color: #c7c7c7;
  margin-bottom: 50px;
}

.experience .inner .right .experience_container h1 {
  font-size: 26px;
  margin-bottom: 10px;
}

.experience .inner .right .experience_container h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #007175;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.experience .inner .right .experience_container .jb_function {
  margin-top: 25px;
}

.experience .inner .right .experience_container .jb_function ul {
  white-space: pre-wrap;
}

.experience .inner .right .experience_container .jb_function ul li {
  margin-left: 45px;
  margin-bottom: 15px;
}

.projects {
  width: 100%;
  height: auto;
}

.projects .project_popup {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.781);
  position: fixed;
  bottom: 0;
  z-index: 1000;
}

.projects .project_popup .project_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.projects .project_popup .project_inner .project_popup_main {
  width: 40%;
  height: 100%;
  background-color: #f0f0f0;
}

.projects .project_popup .project_inner .project_popup_main .img_slide {
  width: 100%;
  height: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 48px;
  font-weight: bold;
  background-position: center;
  background-repeat: no-repeat;
}

.projects .project_popup .project_inner .project_popup_main .img_slide .slider_img {
  margin: 0 auto;
}

.projects .project_popup .project_inner .project_popup_main .project_title h3 {
  padding: 0px 25px;
  padding-top: 10px;
  font-weight: bold;
  color: black;
}

.projects .project_popup .project_inner .project_popup_main .prj_description p {
  font-family: 'Roboto';
  padding: 25px;
  text-align: left;
  line-height: 28px;
  color: black;
}

.projects .project_popup .project_inner .project_popup_main .prj_btns {
  width: 100%;
  padding: 0px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects .project_popup .project_inner .project_popup_main .prj_btns .view_site {
  padding: 12px 30px;
  color: white;
  background-color: #01A1A7;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.projects .project_popup .project_inner .project_popup_main .prj_btns .view_site:hover {
  background-color: #007175;
}

.projects .project_popup .project_inner .project_popup_main .prj_btns .view_site:focus {
  outline: none;
}

.projects .project_popup .project_inner .project_popup_main .prj_btns .view_site .arr_icn {
  color: white;
  margin-right: 8px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.projects .project_popup .project_inner .project_popup_main .prj_btns .cls_btn {
  padding: 12px 40px;
  color: white;
  background-color: #d10909;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.projects .project_popup .project_inner .project_popup_main .prj_btns .cls_btn:focus {
  outline: none;
}

.projects .project_popup .project_inner .project_popup_main .prj_btns .cls_btn:hover {
  background-color: #911616;
}

.projects .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 20px;
  width: 100%;
  height: auto;
}

.projects .inner .left {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}

.projects .inner .left H1 {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  color: initial;
}

.projects .inner .right {
  width: 100%;
  height: 100%;
}

.projects .inner .right .bar {
  margin: 0 auto;
  width: 40%;
  height: 5vh;
  border-radius: 8px;
  margin-top: 25px;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.projects .inner .right .bar .br1, .projects .inner .right .bar .br2, .projects .inner .right .bar .br3, .projects .inner .right .bar .br4, .projects .inner .right .bar .br5 {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.projects .inner .right .bar .br1 span, .projects .inner .right .bar .br2 span, .projects .inner .right .bar .br3 span, .projects .inner .right .bar .br4 span, .projects .inner .right .bar .br5 span {
  color: #2e2e2e;
  font-weight: bold;
}

.projects .inner .right .bar .br1:hover, .projects .inner .right .bar .br2:hover, .projects .inner .right .bar .br3:hover, .projects .inner .right .bar .br4:hover, .projects .inner .right .bar .br5:hover {
  background-color: #202020;
  color: #eeeeee;
}

.projects .inner .right .bar .active_br {
  background-color: #202020;
  color: #eeeeee;
}

.projects .inner .right .bar .active_br span {
  color: white;
}

.projects .inner .right .bar .br3 {
  width: 40%;
}

.projects .inner .right .prjs {
  margin: 0 auto;
  height: 100%;
  width: 95%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(40%, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  grid-gap: 0.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects .inner .right .prjs .project_div {
  width: 100%;
  height: 40vh;
  position: relative;
  background-position: top !important;
}

.projects .inner .right .prjs .project_div .prj_card {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.projects .inner .right .prjs .project_div .prj_card .prj_txt {
  opacity: 1;
  position: absolute;
  top: -50%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-align: center;
  width: 100%;
  font-size: 1.5vw;
  font-family: 'Lato';
  font-weight: 400;
}

.projects .inner .right .prjs .project_div .prj_card .prj_txt span {
  color: black !important;
}

.projects .inner .right .prjs .project_div .prj_card .prj_txt .lng_used {
  font-size: 1vw;
}

.projects .inner .right .prjs .project_div .prj_card .prj_but {
  opacity: 1;
  position: absolute;
  bottom: -50%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.projects .inner .right .prjs .project_div .prj_card .prj_but button {
  padding: 20px 60px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: 400;
  font-family: 'Roboto';
  background-color: transparent;
  color: #007175;
  border: 1px solid #01A1A7;
}

.projects .inner .right .prjs .project_div .prj_card .prj_but button:hover {
  background-color: #007175;
  color: white;
  cursor: pointer;
}

.projects .inner .right .prjs .project_div .prj_card .prj_but button:focus {
  outline: none;
}

.projects .inner .right .prjs .project_div {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.projects .inner .right .prjs .project_div:hover .prj_card {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
}

.projects .inner .right .prjs .project_div:hover .prj_txt {
  opacity: 1;
  position: absolute;
  top: 20%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.projects .inner .right .prjs .project_div:hover .prj_but {
  opacity: 1;
  position: absolute;
  bottom: 20%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.contact {
  width: 100%;
  height: auto;
  background-color: #202020;
  color: #eeeeee;
}

.contact .cnt_inner {
  padding: 25px;
}

.contact .cnt_inner .intro {
  text-align: center;
}

.contact .cnt_inner .intro h1 {
  font-size: 39px;
  text-transform: uppercase;
  padding-bottom: 15px;
  font-weight: 500;
  font-family: 'Roboto';
}

.contact .cnt_inner .intro p {
  padding-bottom: 15px;
  font-size: 15px;
  font-weight: 300;
  font-family: 'Roboto';
}

.contact .cnt_inner .intro h3 {
  color: #01A1A7;
  font-weight: 500;
  font-family: 'Roboto';
}

.contact .cnt_inner .msg_div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  margin: 0 auto;
  margin-top: 15px;
  border-radius: 5px;
  background-color: darkgreen;
}

.contact .cnt_inner .cnt_form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .cnt_inner .cnt_form form .nor_inpt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.contact .cnt_inner .cnt_form form .nor_inpt .field {
  margin-bottom: 20px;
}

.contact .cnt_inner .cnt_form form .nor_inpt .field input, .contact .cnt_inner .cnt_form form .nor_inpt .field textarea {
  padding: 15px 25px;
  width: 210px;
  background: transparent;
  -webkit-box-shadow: 10px 10px 20px 3px #141414;
          box-shadow: 10px 10px 20px 3px #141414;
  border: 1px solid #2e2e2e;
  border-radius: 6px;
  color: #c9c9c9;
  margin-left: 15px;
}

.contact .cnt_inner .cnt_form form .nor_inpt .field input:focus, .contact .cnt_inner .cnt_form form .nor_inpt .field textarea:focus {
  outline: none;
}

.contact .cnt_inner .cnt_form form .nor_inpt .field textarea {
  width: initial;
}

.contact .cnt_inner .cnt_form form .nor_inpt .field small {
  margin-left: 10px;
}

.contact .cnt_inner .cnt_form form .field {
  margin-bottom: 20px;
}

.contact .cnt_inner .cnt_form form .field textarea {
  padding: 15px 25px;
  width: 210px;
  background: transparent;
  -webkit-box-shadow: 10px 10px 20px 3px #161616;
          box-shadow: 10px 10px 20px 3px #161616;
  border: 1px solid #2e2e2e;
  border-radius: 6px;
  color: #c9c9c9;
  margin-left: 15px;
}

.contact .cnt_inner .cnt_form form .field textarea:focus {
  outline: none;
}

.contact .cnt_inner .cnt_form form .field textarea {
  width: initial;
}

.contact .cnt_inner .cnt_form form .field small {
  margin-left: 10px;
}

.contact .cnt_inner .cnt_form form .submitt_cnt button {
  padding: 12px 35px;
  border-radius: 5px;
  margin-left: 15px;
  border: 1px solid transparent;
  background-color: #01A1A7;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.contact .cnt_inner .cnt_form form .submitt_cnt button:hover {
  background-color: #007175;
}

.contact .cnt_inner .cnt_form form .submitt_cnt button:focus {
  outline: none;
}

.footer {
  width: 100%;
  height: 20vh;
  background-color: #202020;
  color: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .ft_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
}

.footer .ft_inner .social-links {
  margin-top: 20px;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 25px;
}

.footer .ft_inner .social-links a {
  background-color: #4b4b4b;
  padding: 15px 16px;
  border-radius: 50%;
  -webkit-box-shadow: 10px 10px 20px 3px #141414;
          box-shadow: 10px 10px 20px 3px #141414;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.footer .ft_inner .social-links a .icn {
  font-size: 18px;
}

.footer .ft_inner .social-links a .fb {
  width: 15px;
}

.footer .ft_inner .social-links a:hover {
  -webkit-box-shadow: 0px 1px 13px #01A1A7;
          box-shadow: 0px 1px 13px #01A1A7;
}

.footer .ft_inner .social-links a:hover .icn {
  color: #eeeeee;
}

.footer .ft_inner .cprght p span {
  margin-left: 8px;
}

@media only screen and (max-width: 1024px) {
  .projects .project_popup .project_inner .project_popup_main {
    width: 100%;
    height: 100%;
  }
  .projects .inner .right .bar {
    width: 100%;
  }
  .projects .inner .right .prjs {
    display: block;
    width: 100%;
  }
  .projects .inner .right .prjs .project_div .prj_card .prj_txt {
    font-size: 50px;
  }
  .projects .inner .right .prjs .project_div .prj_card .prj_txt .lng_used {
    font-size: 25px;
  }
}

@media only screen and (max-width: 1004px) {
  .experience .inner {
    padding: 0;
    display: block;
  }
  .experience .inner .middle {
    display: none;
  }
  .experience .inner .right {
    width: 100%;
  }
  .experience .inner .right .inner-rgt {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(40%, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    grid-gap: 0.8rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .experience .inner .right .inner-rgt .jb_function ul {
    line-height: 35px;
  }
  .footer .ft_inner .social-links {
    width: 30%;
  }
}

@media only screen and (max-width: 978px) {
  .about .inner .me_skills {
    height: auto;
  }
  .about .inner .me_skills .inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .inner .me_skills .inner .me {
    width: 90%;
    margin-bottom: 35px;
  }
  .about .inner .me_skills .inner .me .img {
    height: 25vh;
  }
  .about .inner .me_skills .inner .skills {
    width: 90%;
  }
  .projects .inner .right .bar {
    width: 60%;
  }
}

@media only screen and (max-width: 862px) {
  .about .inner {
    width: 100%;
  }
  .about .inner .boxes {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(40%, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    grid-gap: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about .inner .boxes .bx1, .about .inner .boxes .bx2, .about .inner .boxes .bx3, .about .inner .boxes .bx4 {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
  .main-home .show .left {
    margin-left: 0px;
    width: 70%;
    height: auto;
  }
  .main-home .show .left .social-links {
    width: 100%;
  }
  .main-home .show .left .social-links .fb, .main-home .show .left .social-links .tw, .main-home .show .left .social-links .ig, .main-home .show .left .social-links .li {
    font-size: 19px;
  }
  .main-home .show .left .social-links .fb {
    width: 20px;
  }
  .main-home .show .left .my-det {
    padding-left: 28px;
  }
  .main-home .show .left .my-det h3 {
    font-size: 30px;
  }
  .main-home .show .left .my-det p {
    font-weight: 200;
    font-family: 'Roboto' sans-serif;
    font-size: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .main-home .show .left .social-links {
    width: 100%;
  }
  .main-home .show .left .social-links .fb, .main-home .show .left .social-links .tw, .main-home .show .left .social-links .ig, .main-home .show .left .social-links .li {
    font-size: 19px;
  }
  .main-home .show .left .social-links .fb {
    width: 20px;
  }
  .main-home .show .left .my-det {
    padding-left: 28px;
  }
  .main-home .show .left .my-det h3 {
    font-size: 30px;
  }
  .main-home .show .left .my-det p {
    font-weight: 200;
    font-family: 'Roboto' sans-serif;
    font-size: 20px;
  }
  .about .inner {
    width: 100%;
  }
  .about .inner .boxes {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(40%, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    grid-gap: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about .inner .boxes .bx1, .about .inner .boxes .bx2, .about .inner .boxes .bx3, .about .inner .boxes .bx4 {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project_popup .project_inner .project_popup_main .prj_description {
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 692px) {
  .experience .inner {
    padding: 30px;
    display: block;
  }
  .experience .inner .middle {
    display: none;
  }
  .experience .inner .left h1 {
    margin-bottom: 25px;
  }
  .experience .inner .right {
    width: 100%;
  }
  .experience .inner .right .inner-rgt {
    width: 100%;
    height: 100%;
    display: block;
  }
  .experience .inner .right .inner-rgt h1 {
    font-size: 19px;
  }
  .experience .inner .right .inner-rgt h3 {
    font-size: 15px;
  }
  .experience .inner .right .inner-rgt span {
    font-size: 12px;
  }
  .experience .inner .right .inner-rgt .jb_function ul {
    font-size: 15px;
  }
  .footer .ft_inner .social-links {
    width: 45%;
  }
}

@media only screen and (max-width: 620px) {
  .main-home .show {
    height: 100%;
  }
  .main-home .show .show_inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-home .show .left {
    margin-left: 0px;
    width: 100%;
    height: auto;
  }
  .main-home .show .left .social-links {
    width: 100%;
  }
  .main-home .show .left .social-links .fb, .main-home .show .left .social-links .tw, .main-home .show .left .social-links .ig, .main-home .show .left .social-links .li {
    font-size: 19px;
  }
  .main-home .show .left .social-links .fb {
    width: 20px;
  }
  .main-home .show .left .my-det {
    padding-left: 28px;
  }
  .main-home .show .left .my-det h3 {
    font-size: 30px;
  }
  .main-home .show .left .my-det p {
    font-weight: 200;
    font-family: 'Roboto' sans-serif;
    font-size: 20px;
  }
  .main-home .show .right {
    width: 100%;
    height: 40vh;
    background-position: top;
    background-size: 50%;
  }
  .projects .inner .right .bar {
    width: 80%;
  }
}

@media only screen and (max-width: 528px) {
  .about .inner {
    padding: 0;
    width: 100%;
  }
  .about .inner .boxes {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(40%, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    grid-gap: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about .inner .boxes .bx1, .about .inner .boxes .bx2, .about .inner .boxes .bx3, .about .inner .boxes .bx4 {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
  .about .inner .boxes .bx1 h1, .about .inner .boxes .bx2 h1, .about .inner .boxes .bx3 h1, .about .inner .boxes .bx4 h1 {
    font-size: 22px;
  }
  .about .inner .boxes .bx1 p, .about .inner .boxes .bx2 p, .about .inner .boxes .bx3 p, .about .inner .boxes .bx4 p {
    font-size: 15px;
  }
  .about .inner .me_skills {
    height: auto;
    width: 100%;
  }
  .about .inner .me_skills .inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .about .inner .me_skills .inner .me {
    width: 90%;
    margin-bottom: 35px;
  }
  .about .inner .me_skills .inner .me .img {
    height: 25vh;
  }
  .about .inner .me_skills .inner .me .cnt_res_btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about .inner .me_skills .inner .skills {
    width: 95%;
  }
  .about .inner .me_skills .inner .skills .skill_bar {
    font-size: 13px;
  }
  .footer .ft_inner .social-links {
    width: 65%;
  }
  .projects .inner .right .bar {
    width: 100%;
  }
  .projects .inner .right .prjs .project_div .prj_card .prj_txt {
    font-size: 25px;
  }
  .projects .inner .right .prjs .project_div .prj_card .prj_txt .lng_used {
    font-size: 13px;
  }
}

@media only screen and (max-width: 450px) {
  .contact {
    overflow: hidden;
  }
  .contact .cnt_inner .intro h1 {
    font-size: 29px;
  }
  .contact .cnt_inner .intro p {
    font-size: 12px;
  }
  .contact .cnt_inner .intro h3 {
    font-size: 18px;
  }
  .contact .cnt_inner .cnt_form form .nor_inpt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact .cnt_inner .cnt_form form .nor_inpt .field {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .contact .cnt_inner .cnt_form form .nor_inpt .field textarea {
    display: none;
  }
  .contact .cnt_inner .cnt_form form .field {
    width: 100%;
  }
  .contact .cnt_inner .cnt_form form .field textarea {
    width: 100%;
    margin-left: 0px;
  }
  .contact .cnt_inner .cnt_form form .submitt_cnt {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .ft_inner .social-links {
    width: 80%;
  }
  .about .inner .head_intro {
    margin-top: 0px;
  }
  .about .inner .head_intro h1 {
    font-size: 28px;
  }
  .about .inner .head_intro hr {
    width: 75px;
    border-width: 2px;
  }
  .about .inner .boxes {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 414px) {
  .projects .project_popup .project_inner {
    height: 112vh;
  }
  .projects .project_popup .project_inner .project_popup_main {
    width: 100%;
    height: 100%;
  }
  .projects .project_popup .project_inner .project_popup_main .img_slide {
    height: 40%;
  }
  .projects .project_popup .project_inner .project_popup_main .prj_description {
    overflow-y: scroll;
  }
  .projects .project_popup .project_inner .project_popup_main .prj_btns {
    width: 90%;
  }
  .projects .inner .right .bar {
    width: 100%;
  }
  .projects .inner .right .prjs {
    display: block;
    width: 100%;
  }
  .main-home .show .right {
    background-color: #202020;
  }
}

@media only screen and (max-width: 360px) {
  .projects .project_popup .project_inner {
    height: 111vh;
  }
  .projects .project_popup .project_inner .project_popup_main {
    width: 100%;
    height: 100%;
  }
  .projects .project_popup .project_inner .project_popup_main .img_slide {
    height: 25%;
  }
  .projects .project_popup .project_inner .project_popup_main .prj_btns {
    width: 90%;
  }
  .projects .inner .right .bar {
    width: 100%;
  }
  .projects .inner .right .bar .br1, .projects .inner .right .bar .br2, .projects .inner .right .bar .br3, .projects .inner .right .bar .br4, .projects .inner .right .bar .br5 {
    font-size: 13px;
  }
  .projects .inner .right .prjs {
    display: block;
    width: 100%;
  }
}

@media only screen and (max-width: 360px) {
  .projects .project_popup .project_inner {
    height: 111vh;
  }
  .projects .project_popup .project_inner .project_popup_main {
    width: 100%;
    height: 100%;
  }
  .projects .project_popup .project_inner .project_popup_main .img_slide {
    height: 30%;
  }
  .projects .project_popup .project_inner .project_popup_main .prj_description p {
    font-size: 13px;
    line-height: 20px;
  }
  .projects .project_popup .project_inner .project_popup_main .prj_btns {
    width: 98%;
  }
  .projects .inner .right .bar {
    width: 100%;
  }
  .projects .inner .right .bar .br1, .projects .inner .right .bar .br2, .projects .inner .right .bar .br3, .projects .inner .right .bar .br4, .projects .inner .right .bar .br5 {
    font-size: 13px;
  }
  .projects .inner .right .prjs {
    display: block;
    width: 100%;
  }
  .main-home .show .left .my-det h3 {
    font-size: 23px;
  }
  .main-home .show .left .my-det p {
    font-size: 16px;
  }
}

/* Screen larger than 900px? 3 columns */
/*# sourceMappingURL=Home.css.map */