@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.Cont {
    width: 100%;
    height: 100vh;
    // background-color: black;
    background-image: url('../../Assets/Podcast/coming_soon.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: white;

    .ovrly {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #202124be;

        h1 {
            font-size: 5.2vw;
            text-align: center;
            font-family: 'Bangers', cursive;
            padding-top: 60px;
            padding-bottom: 20px;
        }

        .sqr {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin: 0 auto;
            background-color: black;
            background-image: url('../../Assets/Podcast/Play-Button.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            margin-top: 10px;
            margin-bottom: 10px;
            cursor: pointer;
            position: absolute;
            right: 10px;
            bottom: 30%;
            // top: 0px;
        }

        .imageco {
            width: 95%;
            height: 80%;
            margin: 0 auto;
            // background-color: red;
            background-image: url('../../Assets/Podcast/my_podcast_cover_less.JPG');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

@media only screen and (max-width: 789px) {

    .Cont {
        .ovrly {
            h1 {
                font-size: 5.8vh;
            }
        }
    }

}