.nav_container {
  position: fixed;
  width: 100vw;
  height: 8vh;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 85px;
  color: white;
  z-index: 5;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav_container .logo {
  width: 12%;
  height: 100%;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.nav_container .logo .img {
  width: 20%;
  height: 100%;
  background-image: url("../../Assets/Podcast/logo.png");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}

.nav_container .logo span {
  font-size: 19px;
  margin-left: 0px;
}

.nav_container .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  height: 100%;
}

.nav_container .links .nav_link {
  color: #d6d6d6;
  text-decoration: none;
  font-weight: bold;
}

.nav_container .menu {
  display: none;
}

.scroll_min {
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.548);
}

.scroll_max {
  background-color: rgba(0, 0, 0, 0.836);
}

.scroll_max:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(90%, rgba(255, 255, 255, 0.151)));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.151) 90%);
  width: 100%;
  height: inherit;
}

@media only screen and (max-width: 1412px) {
  .nav_container .logo {
    width: 15%;
  }
}

@media only screen and (max-width: 1229px) {
  .nav_container {
    padding: 0 20px;
  }
  .nav_container .logo {
    width: 20%;
  }
  .nav_container .links {
    display: none;
  }
  .nav_container .menu {
    display: block;
  }
}

@media only screen and (max-width: 920px) {
  .nav_container {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
  .nav_container .logo {
    width: 25%;
  }
}

@media only screen and (max-width: 742px) {
  .nav_container .logo {
    width: 35%;
  }
}

@media only screen and (max-width: 574px) {
  .nav_container .logo {
    width: 38%;
  }
}

@media only screen and (max-width: 496px) {
  .nav_container .logo {
    width: 45%;
  }
}

@media only screen and (max-width: 442px) {
  .nav_container .logo {
    width: 50%;
  }
}
/*# sourceMappingURL=Podcastnav.css.map */